# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\学习素材\javaeekeshe\untitled\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
